<section class="contact full-screen d-lg-flex justify-content-center align-items-center">
    <div class="contact-form">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="contact-form">
                    <h2 class="mb-4">Contacts</h2>



                </div>
            </div>
        </div>
        <img src="images/project/iconTG.png" alt="icon" align="left"/><a href="https://t.me/Sob1rov1ch"><h5> @Sob1rov1ch_1123</h5></a>
        <br>
        <img src="/images/project/git.svg" alt="icon" style="width:55px;height:56px;" align="left"/><a  href="https://github.com/sunnatsavriyev"><h5>GitHub</h5></a>       
        <br>
        <img src="/images/project/iconTL.png" alt="icon" align="left"/><h5>(93)-109-05-08</h5>
    </div>
</section>